header {
    background-color: gainsboro;
    height: 4rem;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}
.content{
    border-bottom: lightslategray 1px;
}
#main-contents{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: gainsboro;
    height: 3rem;
    text-align: center;
}

.footer-contents{
    color: gainsboro;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.topic {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: solid, black, medium;
}

.news {
    margin: 1rem 1rem;
}

img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    
    margin-right: 3%;
    border: 2px solid #ccc;
    background: #eee;
  }

a{
    color:black;
}

button {
    margin-top: auto;
}

.author, .source, .publishedAt, .description {
    margin-bottom: 0;
}

.author, .source ,.description{
    text-align: center;
    color: rgb(90, 88, 88);
}

.description{
    color: black;
}

.publishedAt {
    text-align: right;
    color: rgb(90, 88, 88);
}

